## UW Madison Courses and Grades 2006-2017

In [1]:
import pandas
import csv, sqlite3
#create database "uw-madison-courses"
conn= sqlite3.connect("uw-madison-courses.db")

In [2]:
#create table "courses"
conn.execute("""
CREATE TABLE courses
(
    uuid TEXT NOT NULL,
    name TEXT,
    number INTEGER,
    PRIMARY KEY (uuid)
);""")  
df = pandas.read_csv('courses.csv')
df.to_sql('courses', conn, if_exists='append', index=False)

In [3]:
#create table "teachings"
conn.execute("""
CREATE TABLE teachings
(
    instructor_id TEXT,
    section_uuid TEXT NOT NULL
       REFERENCES instructors(id),
    PRIMARY KEY (section_uuid)
);""")  
df = pandas.read_csv('teachings.csv')
df.to_sql('teachings', conn, if_exists='append', index=False)

In [4]:
#create table "subjects"
conn.execute("""
CREATE TABLE subjects
(
    code TEXT NOT NULL,
    name TEXT,
    abbreviation TEXT,
    PRIMARY KEY (code)
);""")  
df = pandas.read_csv('subjects.csv')
df.to_sql('subjects', conn, if_exists='append', index=False)

In [5]:
#create table "schedules"
conn.execute("""
CREATE TABLE schedules
(
    uuid TEXT NOT NULL,
    start_time INTEGER,
    end_time INTEGER,
    mon INTEGER,
    tues INTEGER,
    wed INTEGER,
    thurs INTEGER,
    fri INTEGER,
    sat INTEGER,
    sun INTEGER,
    PRIMARY KEY (uuid)
);""")  
df = pandas.read_csv('schedules.csv')
df.to_sql('schedules', conn, if_exists='append', index=False)

In [6]:
#create table "instructors"
conn.execute("""
CREATE TABLE instructors
(
    id INTEGER NOT NULL,
    name TEXT,
    PRIMARY KEY (id)
);""")  
df = pandas.read_csv('instructors.csv')
df.to_sql('instructors', conn, if_exists='append', index=False)

In [7]:
#create table "rooms"
conn.execute("""
CREATE TABLE rooms
(
    uuid TEXT NOT NULL,
    facility_code INTEGER,
    room_code INTEGER,
    PRIMARY KEY (uuid)
);""")             
df = pandas.read_csv('rooms.csv')
df.to_sql('rooms', conn, if_exists='append', index=False)

In [8]:
#create table "subject_memberships"
conn.execute("""
CREATE TABLE subject_memberships
(
    subject_code INTEGER NOT NULL
       REFERENCES subjects(code),
    course_offering_uuid TEXT NOT NULL
       REFERENCES course_offerings(uuid),
    PRIMARY KEY (subject_code,course_offering_uuid)
);""")                    
df = pandas.read_csv('subject_memberships.csv')
df.to_sql('subject_memberships', conn, if_exists='append', index=False)

In [9]:
#create table "grade_distributions"
conn.execute("""
CREATE TABLE grade_distributions
(
    course_offering_uuid TEXT NOT NULL
       REFERENCES course_offerings(uuid),
    section_number INTEGER NOT NULL
       REFERENCES sections(number),
    a_count INTEGER,
    ab_count INTEGER,
    b_count INTEGER,
    bc_count INTEGER,
    c_count INTEGER,
    d_count INTEGER,
    f_count INTEGER,
    s_count INTEGER,
    u_count INTEGER,
    cr_count INTEGER,
    n_count INTEGER,
    p_count INTEGER,
    i_count INTEGER,
    nw_count INTEGER,
    nr_count INTEGER,
    other_count INTEGER,
    PRIMARY KEY (course_offering_uuid,section_number)
);""")                    
df = pandas.read_csv('grade_distributions.csv')
df.to_sql('grade_distributions', conn, if_exists='append', index=False)

In [10]:
#create table "sections"
conn.execute("""
CREATE TABLE sections
(
    uuid TEXT,
    course_offering_uuid TEXT
       REFERENCES course_offerings(uuid),
    section_type TEXT,
    number TEXT,
    room_uuid TEXT
       REFERENCES rooms(uuid),
    schedule_uuid TEXT
       REFERENCES schedules(uuid),
    PRIMARY KEY (uuid)
);""")  
df = pandas.read_csv('sections.csv')
df.to_sql('sections', conn, if_exists='append', index=False)

In [11]:
#create table "course_offerings"
conn.execute("""
CREATE TABLE course_offerings
(
    uuid TEXT NOT NULL,
    course_uuid TEXT
       REFERENCES courses(uuid),
    term_code INTEGER,
    name TEXT
       REFERENCES courses(name),
    PRIMARY KEY (uuid)
);""") 
df = pandas.read_csv('course_offerings.csv')
df.to_sql('course_offerings', conn, if_exists='append', index=False)